body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}


h1, h2, h3 {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 36px;
  padding: 8px;
  box-shadow: inset 0px 0px 20px 0px  #aa94b4;
  background: linear-gradient(to bottom right, #aa94b4, #766080);
  border-bottom: 1px solid #766080;
}

header h2 {
  width: 30%;
  float: left;
  line-height: 32px;
  font-size: 22px;
}

main {
  margin-left: 8px;
  margin-right: 8px;
  font-size: 18px;
}

main h3 {
  font-size: 32px;
  margin-top: 16px;
  font-weight: normal;
  border-bottom: 1px solid #aa94b4;
  width: 20%;
}

main a {
  border-bottom: 1px solid #aa94b4;
  text-decoration: none;
}

ul {
  float: left;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin-right: 32px;
  margin-left: 32px;
}

li a {
  color: #3d2b45;
  font-weight: bold;
  text-decoration: none;
  line-height: 32px;
  font-size: 18px;
}

li a:hover {
  border-bottom: 1px solid;
  opacity: 0.8;
}
